In [8]:
import yfinance as yf
import pandas as pd

# define ticker symbol 
tickerSymbol='AAPL' # specific keyword for apple or ticker symbol for apple for stock

# get data on this ticker 
tickerData=yf.Ticker(tickerSymbol)
#tickerData.info

# get the historical prices for this ticker
tickerDf=tickerData.history(period='1d', start='2010-1-1', end='2020-1-25')

# last closing price 
tickerDf['Close'].iloc[-1]
tickerDf.head()
print(tickerDf.shape)

(2532, 7)

ticker symbol for tesla is <span style="color:red;">TSLA</span>

In [17]:
import pandas as pd 
import yfinance as yf
import datetime as dt 
from datetime import date, timedelta

today=date.today()
d1 = today.strftime("%Y-%m-%d")
d1
d2=(today-timedelta(days=365)).strftime('%Y-%m-%d')
d2

start_date=d2
end_date=d1

# define ticker symbol 
tickerSymbol='TSLA' # specific keyword for apple 

# get data on this ticker 
tickerData=yf.Ticker(tickerSymbol)
#tickerData.info

# get the historical prices for this ticker
tickerDf=tickerData.history(period='1d', start=start_date, end=end_date)

tickerDf.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-23 00:00:00-04:00,237.906662,239.316666,228.636673,235.070007,104202600,0.0,0.0
2022-06-24 00:00:00-04:00,237.470001,246.066666,236.086670,245.706665,95770800,0.0,0.0
2022-06-27 00:00:00-04:00,249.366669,252.070007,242.566666,244.919998,89178300,0.0,0.0
2022-06-28 00:00:00-04:00,244.483337,249.970001,232.343338,232.663330,90391200,0.0,0.0
2022-06-29 00:00:00-04:00,230.500000,231.173340,222.273331,228.490005,82897200,0.0,0.0

In [18]:
# to save the data in csv
tickerDf.to_csv('TSLA.csv')